/* this is the overarching style sheet to be used as a baseline for all three pages */
html{
    height: 100%;
    margin: 0;   
}
body{
    height: 100%;
    margin: 0;
    /* background-color: black; */
}
.bg{
    height: 100%;
    background-image: url('assets/images/opening.JPG');
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* opacity: 0.65; */
    z-index: -1 ;
}

.wrapper {
    max-width: 960px;
}
.content {
    min-height: 100%;
}
.content-inside {
    padding: 0;
    padding-bottom: 50px;
}

.div1{
    display: flex;
    /* border-radius: 25px; */
    background-color: #ffffff;
    border-bottom-width: 15px;
    border-color: #cccccc;
    width: 100%;
    margin: 0;
    padding: 0;
    align-content: center;
    opacity: .80;
}
.headerbox{
    padding: 0px 100px 0px 150px;
    /* border-radius: 25%;  */
    margin-left: 0;
    width: 100%;
    background: rgb(39, 39, 39);
    opacity: .80;
}
h1 {
    float: left;
    min-height: 90px;
    max-width: 250px;
    padding: .5em .5em .5em .5em;
    width: 100%;
    margin:0;
    font-family: 'Raleway', sans-serif;
    font-size : 25px;
    font-weight: bold;
    line-height: 90px;
    color : #ffffff;
    text-align: center;
    background-color: #161818;
    /* border: 2px solid #cccccc; */
}

.bio{
    font-family: 'Raleway', sans-serif;
    font-size : 20px;
    /* font-weight: bold; */
    color : #274644;
    border: 2px;
    padding-top: 30px;
    padding-left: 30px;
    border-color:#292525;
}
.navkeys{
    float: right;
    font-family: 'Raleway', sans-serif;
    color: rgb(207, 203, 203);
    text-align: center;
    padding-right: 15px;
    margin-right: 15px;
    line-height: 18px;
    padding-top: 3%;
    }

.a:link, .a:visited{
    width: 120px;
    padding: 0;
    margin: 0;
    text-transform: uppercase; 
    color: grey;
    text-decoration: none;
}
.a:hover{
    width: 120px;
    padding: 0;
    margin: 0;
    text-transform: uppercase; 
    color: #c7caca;
    text-decoration: none;
}

.a:active{
    width: 120px;
    padding: 0;
    margin: 0;
    text-transform: uppercase; 
    color: #949494;
    text-decoration: none;
}

ul {    
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }


.hr1{
    height: 2px;
    width: 100%;
    margin:0;
    padding:0;
    background-color:#747171;
    border: none;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size : 30px;
    font-weight: bold;
    color : #274644;
    border: 2px;
    padding-top: 30px;
    padding-left: 30px;
    border-color:#292525;
}

.div3 {
    border-radius: 25px;
    height: relative;
    background: #ffffff;
    margin-top: 25px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 15px 10px 15px 10px;
    border: 2px;
    border-color: #dddddd;
    background-color:#ffffff;
    opacity: .95;
}

.img1{
    border-radius: 30%;
    position: relative;
    float: left;
    /* max-height: 275px; */
    max-width: 275px;
    /* padding-left: 20px;
    margin-right: 15px; */
    /* opacity: 150%; */
}
.hr2{
    border: none;
    height: 2px;
    width: 95%;
    padding-left: 0;
    align-content: center;
    background-color:#dddddd;
    z-index: 1;
}

p{
    z-index: 99;
    background:#ffffff;
    color: #777777;
}

.hr3{
    position: relative;
    height: 6px;
    width: 100%;
    padding-left: 0;
    align-content: center;
    color: #464747;
    z-index: 1;
}

footer {
    border-top: 8px solid #494949;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    color: #777777;
    background-color: #666666;
    padding: 20px;
    text-align: center;
  }

.clearfix:after {
    content: "";
    display: table;
    clear: both;
} 

@media only screen and (min-device-width : 980px){ 
    .wrapper {
        width: 980px;
    }
    .img1 {
        height: 50%;
        width: 50%;
        max-width:300px
    }
    .holder{
        height: 50%;
        width: 50%;
    }
    .img2 {
        height: auto;
        width: 100%;
        max-width:200px
}

}

@media only screen and (min-device-width : 768px) {
    .wrapper {
        width: 760px;
    }

    .img1 {
        height: 50%;
        width: 50%;
        max-width:300px
    }
    .holder{
        height: 50%;
        width: 50%;
}
    .img2 {
        height: auto;
        width: 100%;
        max-width:200px
}
}

@media only screen and (min-device-width : 640px){
    .wrapper {
        width: 640px;
    }
    .img1 {
        height: 50%;
        width: 50%;
        max-width:300px
    }
    .holder{
        height: 50%;
        width: 50%;
}
    .img2{
        height: auto;
        width: 100%;
        max-width: 200px
}
}
