.img2{
    border-radius: 30%;
    /* position: relative; */
    height: auto;
    max-width: 300px;
    /* align: center; */
    /* padding-left: 25px; */
}

.caption {
    border: none;
    border-radius: 30%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    position: relative;
    width: 100%;
    max-width: 250px;
    height: 30px;
    bottom: 50px;
    background: rgba(193, 149, 202, 0.767);
    /* background: rgba(132, 184, 184, 0.75); */
    color: #ffffff;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
 }

.caption:hover {
    background: rgba(167, 74, 170, 0.5);
  }

  .b:link, .b:visited{
    width: 120px;
    padding: 0;
    margin: 0;
    text-transform: uppercase; 
    color: rgb(31, 30, 30);
    text-decoration: none;
}
.b:hover{
    width: 120px;
    padding: 0;
    margin: 0;
    text-transform: uppercase; 
    color: #265754;
    text-decoration: none;
}

.b:active{
    width: 120px;
    padding: 0;
    margin: 0;
    text-transform: uppercase; 
    color: #aa4aa2;
    text-decoration: none;
}
