table{
    border-collapse: collapse;
    box-align: center;
    margin: 0 auto;
    display: block;
}

.box1{
    float: left;
    margin: 0;
}

.img2{
    position: relative;
    height: auto;
    max-width: 300px;
    text-align: center;
    padding-left: 25px;
}

.caption {
    border: none;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    position: relative;
    width: 100%;
    max-width: 250px;
    height: 30px;
    bottom: 50px;
    background: rgb(74,170,165);
    background: rgba(74,170,165, 0.75);
    color: #ffffff;
    padding-left: 0;
    padding-right: 0;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
 }

.caption:hover {
    background: rgba(74,170,165, 0.5);
  }

  .b:link, .b:visited{
    width: 120px;
    padding: 0;
    margin: 0;
    text-transform: uppercase; 
    color: rgb(31, 30, 30);
    text-decoration: none;
}
.b:hover{
    width: 120px;
    padding: 0;
    margin: 0;
    text-transform: uppercase; 
    color: #265754;
    text-decoration: none;
}

.b:active{
    width: 120px;
    padding: 0;
    margin: 0;
    text-transform: uppercase; 
    color: #4aaaa5;
    text-decoration: none;
}
